<!-- Footer -->

<section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>S</span>$<span>S</span>Bank</h1>
      </div>
      <h2>Your Complete Banking Solution</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/121/121521.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/37/37409.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/60/60580.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/61/61109.png" /></a>
        </div>
      </div>
      <p>Copyright © 2022 S$S. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->