<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/term_style.css">
    <title>T&C</title>
</head>

<body>
    <div class="bg"></div>
    <div class="terms-box">
        <div class="terms-text">
            <h2>Terms And Conditions</h2>
            <p>Last Edit:01/10/2022</p>
            <p>Greetings User</p>
            <p>Account Maintenance:
                We may specify limits on how much you need to have in your Account, the types of currencies that we may accept, as well as our usual
                charges, commission and interest rates and any other requirement.</p>

            <p>Account mandates:
                You must provide us with your mandate authorising your Authorised Persons to operate your Account. We will tell you if we cannot accept any
                Authorised Person due to our policies or any applicable law.</p>

            <p>Deposits:
                We will credit money paid into your Account in a currency we accept and in an amount equivalent to the cash deposit. We may charge you for
                certain methods of payments at rates which we will inform to you. The date the money is received as payment into your Account will depend on
                current market practice or as per our normal banking practice. </p>

            <p>Confidentiality and Disclosure:
                To the extent not prohibited by applicable law, the Bank shall be entitled to transfer any information relating to
                the User and/or any other information given by the User for utilization of the Facility to and between its
                branches, subsidiaries, representative offices, affiliates, representatives, auditors and third parties selected by the
                Bank, wherever situated, for confidential use in and / or in connection with the Facility.</p>

            <p>Termination:
                The User may request for termination of the Facility at any time by giving a written notice of at least 10 days to
                the Bank. The User will continue to be responsible for any transactions that may have been effected through the
                Facility prior to such cancellation of the Facility.</p>

            <p>Charges:
                Currently, no charges will be levied for this service. However, the Bank reserves the right to apply charges in future after sending the advance communication to the customers.</p>

            <p>Queries and Complaints:
                In case the request could not be processed for some reason, customers need to contact their nearest FAKE Bank branch or call the Phone banking Centre.

                The customer can also log a complaint by writing to service@FAKEbank.com or online through the FAKE Bank website at http://www.sssbank.com
            </p>

            <p>Reviews, Comments, Communications, and other content</p>
            <p>
                Nature of content:
                Visitors to www.FAKEBank.in may post content and other communications and submit suggestions, ideas, comments, questions or other information, as long as 
                the content is not illegal(i.e it should not barred by any statute or notification/order of  the Government/local body etc which has the force/effect as a statutory direction), 
                obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights or otherwise injurious to third party or objectionable in nature and 
                does not consist of or contains software virus, political campaigning, commercial solicitation, mass mailing or any form of spam.
            </p>

            <p>False information: </p>
            <p>
                The user is bound not to:
                 use false email address, 
                 impersonate any person or entity, 
                 or otherwise mislead as to the origin of a card or other content. 
            </p>
            <p>
                Fake Bank reserves the right (but not the obligation) to remove or edit 
                such content although it may not regularly review posted contents.
            </p>

            <p> Rights Granted: </p>
            <p>
                If user posts a content or submits material and unless Fake Bank 
                indicates otherwise, posting of such content or material, as the case may be, shall be 
                treated as a grant to Fake Bank a non-exclusive, royalty free, perpetual, 
                irrevocable, and fully sub-licensed right to use, reproduce, modify, adapt, publish, 
                translate, create derivative work from, distribute, and display such content 
                throughout the world in any media. The user grants Fake Bank the right to 
                use the name that user may submit in connection with such content if Bank of 
                FAKEBank so chooses.
            </p>

            <p> Right Owned:</p>
            <p>
                User represents and warrants:
                 that user own all the rights or otherwise or control all of the rights to the 
                content that the user posts; 
                 that the content is accurate; 
                 that the use of the content does not violate Privacy policy and will not cause 
                injury to any person or entity and
                 that the user will indemnify & keep indemnified Fake Bank for all 
                claims resulting from the content the user supply; 
                 that Fake Bank has the right but not the obligation to monitor and 
                edit or remove any activity or content;
                 that Fake Bank takes no responsibility and assumes no liability for 
                any content posted by a user or any third party.
            </p>
            <p>
                It made clear that the onus/responsibility as to the correctness or otherwise of the 
                contents of any post made by any person on www.FAKEBank.in is solely 
                that of the person posting the same and Fake Bank assures no 
                responsibilty/ liability for the same in any manner whatsoever.
            </p>

            <p> Site Policies, Modification, and Severability</p>
            <p>
                Fake Bank reserves the right to make changes to our website, policies, 
                and these Terms and Conditions at any time at its sole discretion & without any prior 
                notice. If any of these conditions shall become or be deemed invalid, void by 
                operation of law or any statutory order/diection, or for any reason becomes 
                unenforceable, then & in that event such condition shall be deemed severable and 
                will not affect the validity and enforceability of any remaining terms & condition
            </p>
            <h1></h1>
            <p> Disclaimer of warranties and Limitation of Liability </p>
            <p>
                THIS SITE IS PROVIDED BY FAKE BANK ON AN "AS IS" AND "AS AVAILABLE" BASIS. FAKE BANK MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, 
                AS TO THE OPERATION OF THIS SITE OR THE INFORMATION, CONTENT, MATERIALS, OR PRODUCTS INCLUED ON THIS SITE. YOU EXPRESSLY AGREE THAT 
                YOUR USE OF THIS SITE IS AT YOUR SOLE RISK. TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, BANK OF FAKEBank DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, 
                INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF BANK ABILITY AND FITNESS FOR A PARTICULAR PURPOSE. FAKE BANK
                DOES NOT WARRANT THAT THE SITE, ITS SERVERS, OR EMAIL SENT FROM www.FAKEBank.in ARE FREE OF VIRUS OR OTHER HARMFUL COMPONENTS. FAKE BANK WILL NOT BE LIABLE FOR ANY 
                DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS SITE, INCLUDING, BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL, PUNITIVE AND CONSEQUENTIAL DAMAGES
            </p>
       
       <h4>I Agree To The <span> Terms And Conditions</span> And I Read The Privacy Notice</h4>
       <div class="buttons">
           <a href="/register" class="btn red-btn">Accept</a>
           <!-- <button class="btn gray-btn">Decline</button> -->
       </div>

            </div>
    </div>
</body>

</html>



