<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/term_style.css">
    <title>T&C</title>
</head>

<body>
    <div class="bg"></div>
    <div class="terms-box">
        <div class="terms-text">
            <h2>Terms And Conditions</h2>
            <p>Last Edit:01/10/2022</p>
            <p>Greetings User</p>
            <p>Account Maintenance:
                We may specify limits on how much you need to have in your Account, the types of currencies that we may accept, as well as our usual
                charges, commission and interest rates and any other requirement.</p>

            <p>Account mandates:
                You must provide us with your mandate authorising your Authorised Persons to operate your Account. We will tell you if we cannot accept any
                Authorised Person due to our policies or any applicable law.</p>

            <p>Deposits:
                We will credit money paid into your Account in a currency we accept and in an amount equivalent to the cash deposit. We may charge you for
                certain methods of payments at rates which we will inform to you. The date the money is received as payment into your Account will depend on
                current market practice or as per our normal banking practice. </p>

            <p>Confidentiality and Disclosure:
                To the extent not prohibited by applicable law, the Bank shall be entitled to transfer any information relating to
                the User and/or any other information given by the User for utilization of the Facility to and between its
                branches, subsidiaries, representative offices, affiliates, representatives, auditors and third parties selected by the
                Bank, wherever situated, for confidential use in and / or in connection with the Facility.</p>

            <p>Termination:
                The User may request for termination of the Facility at any time by giving a written notice of at least 10 days to
                the Bank. The User will continue to be responsible for any transactions that may have been effected through the
                Facility prior to such cancellation of the Facility.</p>

            <p>Charges:
                Currently, no charges will be levied for this service. However, the Bank reserves the right to apply charges in future after sending the advance communication to the customers.</p>

            <p>Queries and Complaints:
                In case the request could not be processed for some reason, customers need to contact their nearest SSS Bank branch or call the Phone banking Centre.

                The customer can also log a complaint by writing to service@FAKEbank.com or online through the FAKE Bank website at http://www.fakebank.com
            </p>
       
       <h4>I Agree To The <span> Terms And Conditions</span> And I Read The Privacy Notice</h4>
       <div class="buttons">
           <a href="/register" class="btn red-btn">Accept</a>
           <!-- <button class="btn gray-btn">Decline</button> -->
       </div>

            </div>
    </div>
</body>

</html>



