<!DOCTYPE html>
<html>
  <head>
    <title>Transfer</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/transfer_css.css">
    <link rel="stylesheet" href="../static/css/index_css.css">

  </head>
  <body>
    {% include "./header.html" %}
    <div class="main-block">
      <div class="left-part">
        
        <h1>FAKE BANK</h1>
        <h1>Complete Banking Solution</h1>
      </div>
      <form action="/transfer" method="POST" onsubmit="return confirm('Please Confirm the transaction');">
        <div class="title">
          
          <h2>Transfer Money</h2>
        </div>
        <div class="info">
          <input class="fname" type="text" name="Bname" placeholder="Bank Name" required>
          <input type="text" name="ifsc" placeholder="IFSC Code" required>
          <input type="text" name="acc_no" placeholder="Account Number" required>
          <input type="text" name="re_acc" placeholder="Re enter Account Number" required>
          <input type="number" name="amount" placeholder="Amount" required>
        </div>
        
        {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                  <p id="mess">{{ message }}</p>
              {% endfor %}
          {% endif %}
        {% endwith %}

        <button type="submit">Submit</button>
      </form>
    </div>
    {% include "./footer.html" %}
  </body>
</html>
